{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #f3f3f3;
        }

        .body-border {
            border-top: 8px solid #663399;
        }
    </style>

    <spacer size="16"></spacer>

    <container class="header">
        <row>
            <columns>
                <h1 class="text-center">{% block header %}{% trans %}Bestätigungscode für die Anmeldung zur Schulkindbetreuung {% endtrans %}{% endblock %}</h1>

            </columns>
        </row>
    </container>

    <container class="body-border">
        <row>
            <columns>

                <spacer size="32"></spacer>

                <center>
                    <img src="https://www.unsere-schulkindbetreuung.de/images/logo-breit-mittig.png" width="300"
                         style="max-width: 300px; margin-bottom: 30px">
                </center>

                <spacer size="16"></spacer>
                {% block content %}

                {% endblock %}
                <center>
                    {% if stadt is defined %}
                        {% trans with {'%s%':stadt.name} %}Diese E-Mail wurde im Auftrag der %s% versandt{% endtrans %}
                    {% endif %}
                    <menu>
                        -
                        <small>Powered by
                            <item href="https://unsere-schulkindbetreuung.de">unsere-Schulkindbetreuung.de</item>
                        </small>
                        -
                    </menu>

                </center>
            </columns>
        </row>

        <spacer size="16"></spacer>
    </container>
{% endapply %}
