{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Sicherheitscode für Ihre Anmeldung bei SKiB{% endtrans %}
{% endblock %}

{% block content %}
    <h4 class="text-center">{% trans %}Mit dieser E-Mail erhalten Sie erneut den Sicherheitscode zum Ändern Ihrer Anmeldung in unserer Schulkindbetreuung{% endtrans %}
    </h4>
    <h3 class="text-center">
        {{ 'Sicherheitscode'|trans }}: {{ eltern.seccode }}
    </h3>
{% endblock %}
